.introduction {
    text-align: left;
    background: #fff;
    text-align: left;
    border-radius: 5px;
    box-shadow: 3px 4px 3px #888;
    padding: 10px 20px 20px;
    margin-bottom: 20px;
}

.introduction h2 {
    line-height: 60px;
}

.introduction hr {
    margin-bottom: 15px;
}

.introduction p {
    line-height: 26px;
}

p {
    text-align: left;
}





.comments {
    border: 1px dashed #7ca4c1;
    background-color: #d9edf7;
    margin: 10px 0px 20px;
    padding: 10px 20px 20px;
}

.comments p {
    line-height: 28px;
}



.footer p {
    text-align: center;
}