<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <link rel="stylesheet" href="./css/guestbook.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <a class="title" href="">我的个人博客 | 技术博客</a>
            <ul class="menu">
                <li><a href="/index.html">首页</a></li>
                <li><a href="/sitemap.html">地图</a></li>
                <li><a href="/about.html">关于</a></li>
                <li><a href="/guestbook.html">留言</a></li>
            </ul>
            <div class="search-bar">
                <input type="text" placeholder="输入关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-left">
            <div class="description">
                <p>欢迎灌水交流，别看我长时间不发博，博主可一直都在线~</p>
                <p style="color:#f00">友链只交换技术类个人博客。</p>
                <p style="color:#f00">不要皮，谢谢。</p>
            </div>
            
            <div class="wrap" id="blog_comment">
                <p>当前文章：目前有{{total}}条留言</p>
                <div class="comments" v-for="(item, index) in comments" :key="item.id">
                    <p class="comments-header">
                        <span class="username"><b>{{item.user_name}}</b></span>
                        <span class="username">：{{item.options}} 发表于 {{item.ctime}}</span>
                        <a href="#send_comment" v-on:click="reply(item.id, item.user_name)">[回复]</a>
                    </p>
                    <p class="comments-content">
                       {{item.comments}}
                    </p>
                </div>
            </div>

            <div class="send-comments" id="send_comment">
                <h4>发表评论</h4>
                <div>
                    <input type="hidden" id="comment_reply" value="-1">
                    <input type="hidden" id="comment_reply_name" value="0">
                    <input class="user-name" type="text" placeholder="昵称" id="comment_name">
                    <input type="text" placeholder="邮箱 (评论被回复时你能收到通知)" id="comment_email">
                </div>
                <div>
                    <textarea t placeholder="无意义内容我可能不会回复你" id="comment_content"></textarea>
                </div>
                <div class="code">
                    <input type="text" placeholder="验证码" id="comment_code">
                    <span v-html="vcode" v-on:click="changeCode()"></span>
                </div>
                <div>
                    <button v-on:click="sendComment()">提交留言</button>
                    <!-- <button >重写</button> -->
                </div>
            </div>

        </div>
        <div class="content-right">
            <div class="right-moodule" id="random_tags">
                <div class="right-title">随机标签云</div>
                <div>
                    <a  v-for="(tag, index) in tags" 
                        :key="tag.text + index"
                        v-bind:style="{color: randomColor(),fontSize: randomSize()}"
                        v-bind:href="tag.link" >{{ tag.text }}</a>
                </div>
            </div>

            <div class="right-moodule" id="new_hot">
                <div class="right-title">最近热门</div>
                <ul>
                    <li v-for="(temp, index) in titleList" :key="temp.title+index"><a
                            :href="temp.link">{{temp.title}}</a></li>
                </ul>
            </div>

            <div class="right-moodule" id="new_comments">
                <div class="right-title">最新评论</div>
                <ul>
                    <li v-for="(temp, index) in commentList" :key="temp.name + index">
                        <div>
                            <span>{{temp.name}}</span>
                            <span>[{{temp.date}}]</span>
                        </div>
                        <p><a href="">{{temp.comment}}</a></p>
                    </li>
                </ul>
            </div>

            <div class="right-moodule">
                <div class="right-title">友情连接</div>
                <ul class="friend-link">
                    <li>
                        <span class="left"><a href="">挨踢茶馆</a></span>
                        <span class="right"><a href="">挨踢茶馆</a></span>
                    </li>
                    <li>
                        <span class="left"><a href="">阿远博客[技术资源共享]</a></span>
                        <span class="right"><a href="">挨踢茶馆</a></span>
                    </li>
                    <li>
                        <span class="left"><a href="">挨踢茶馆</a></span>
                        <span class="right"><a href="">Lizenghai's Blog</a></span>
                    </li>
                    <li>
                        <span class="left"><a href="">挨踢茶馆</a></span>
                        <span class="right"><a href="">挨踢茶馆</a></span>
                    </li>
                    <li>
                        <span class="left"><a href="">挨踢茶馆</a></span>
                        <span class="right"><a href="">挨踢茶馆</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul class="list-inline">
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
            <li><a href="" title="c语言学习,c语言程序设计基础入门">C/C++</a></li>
        </ul>
        <p> 
            Copyright © 2010-2017
            <a href="/index.html">郑晓个人博客</a>
            All rights reserved. 由免费开源的
            <a href="/" rel="external nofollow">WordPress</a>
            强力驱动.
            <a href="/" target="_blank" rel="nofollow">鲁ICP备14017955号</a>
            <a href="/" target="_blank" title="站长统计">站长统计</a>
        </p>
    </footer>

    <script src="./js/axios.js"></script>
    <script src="./js/guestbook.js"></script>
    <script src="./js/base.js"></script>
</body>

</html>